
    <div class="container" id = "f">
  <div class="row">
    <div class="col-sm">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">UF</span>
            </div>
            {{input class="form-control" type="text" placeholder="UF" value = UF}}
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">UT</span>
            </div>
            {{input class="form-control" type="text" placeholder="UT" value = UT}}
        </div>
    </div>
    </div>
    </div>
